<html>
  <head>
    <title>
      <%= @titulo %> | Loja
    </title>

    <%= yield :stylesheets %>

  </head>
  <body>

    <h1> <%= yield :cabecalho %>  | Loja </h1>

    <% unless flash.blank? %>
      <% flash.each do |key,value| %>
        <p class="flash_<%= key %>"> <%= value %>  </p>
      <% end %>
    <% end %>

    <ul>
      <li> <%= link_to 'Produtos', produtos_path %>  </li>
      <% unless pedido_atual.blank? %>
        <li>
          <%= link_to( "Veja o seu carrinho", itens_path ) %>
        </li>
      <% end %>
    </ul>

    <%= yield %>

  </body>
</html>