<html>
  <head>
    <title>
      <%= @titulo %> | Loja
    </title>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery-form', 'application' %>
  </head>
  <body>

    <h1> <%= yield :cabecalho %>  | Loja </h1>

    <%= render_flash %>

    <%= render 'compartilhados/login_logout' %>

    <%= render 'compartilhados/menu' %>

    <%= yield %>

  </body>
</html>